@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
}

.header h1 {
	font-size: 50px;
}

.topnav {
	overflow: hidden;
	background: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
}

.topnav a:hover {
	background-color: #ddd;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.leftcolum {
	float: left;
	width: 75%;
}

.rightcolum {
	float: right;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}